<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="query_loc" type="text" placeholder="City Name Query">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Get Weather
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="{{ weather_info.icons }}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">It was {{ weather_info.desc }} in {{ weather_info.place_name }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather_info.temp }}° C but feels like {{ weather_info.feels_like_temp }}° C</span>
                                        <br>Precipitation: {{ weather_info.rain }}
                                        <br>Cloud Cover: {{ weather_info.ccover }} %
                                        <br>Humidity: {{ weather_info.humidity }}
                                        <br>Wind Speed: {{ weather_info.swind }} km/hr
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>